/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/background.jpg) fixed top center no-repeat;
    background-size: 100% auto;
}

@media screen and (orientation:portrait) {
    body {
        background-size: auto 100%;
    }
}

#container {
    margin: 1em;
    background: #dfdfdf;
    background: rgba(255, 255, 255, .88);
    border: 1px solid #b3b3b3;
    border-color: rgba(179, 179, 179, .88);
    border-radius: 8px;
    padding: 1em 2em 1em;
}

.results #container {
    background: rgba(255, 255, 255, .93);
    border-color: rgba(179, 179, 179, .93);
}

h1 a {
    display: block;
    text-indent: -999em; 
    overflow: hidden; 
    background-repeat: no-repeat; 
    text-align: left; 
    direction: ltr;
    background: url(../images/logo.svg) no-repeat;
    width: 114px;
    height: 65px;
}
.no-svg h1 a {
    background: url(../images/logo.png) no-repeat;
}

#container > footer {
    margin: 5em 0 0;
    text-align: center;
}

#container > footer p {
    margin: 0;
}

/* color of placeholder text
 * http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
 */
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}

form.search input {
    border: 1px solid #000;
    padding: .5em;
    float: left;
    font-size: 1.3em;
    border-radius: 0;
    -webkit-appearance:none;
}

form.search input[type=search] {
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.7);
}
form.search input[type=search]:focus {
    box-shadow: 0px 0px 6px #0071bc;
}
form.search input[type=submit] {
    background: #b3b3b3 url(../images/search.png) center no-repeat;
    background-size: 50%;
    display: block;
    text-indent: -999em; 
    overflow: hidden; 
    text-align: left; 
    direction: ltr;
    width: 2.8em;
    border-left: none;
}
form.search input[type=submit]:hover, 
form.search input[type=submit]:focus,
form.search input[type=submit]:active {
    background-color: #0071bc;
}


.content {
    margin: 0;
}

.home .sell {
    margin-top: 3em;
}

.home .sell p {
    display: none;
}

.home .sell h2,
.statistics h2 {
    font-family: ArvoBold, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2em;
}

.home form.search {
    margin-top: 4em;
}

.home .popular {
    margin-top: 4em;
}
.home .popular h2 {
    font-family: ArvoBold, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #888;
}

.home .popular ul {
    list-style: none;
    padding-left: 0;
}

.home .popular li a {
    display: inline-block;
    margin: .2em .6em .2em 0;
    padding: 2px 6px;
    border-radius: 8px;
    text-decoration: none;
    -moz-transition: background-color 0.75s;
    -ms-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
    -webkit-transition: background-color 0.75s;
    transition: background-color 0.75s;
}

.home .popular li a:hover,
.home .popular li a:focus {
    background: #fff;
    outline: none;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.home .popular li a:focus {
    color: #20578f !important;
}

.actions {
    display: none;
}
ul#results li:hover .actions {
    display: inline;
}
ul#results, ul.articles {
    list-style-type: none;
}

.results h1,
.statistics h1 {
    float: left;
}

.results form.search,
.statistics form.search {
    margin-top: 8em;
    margin-bottom: 3em;
}

#results {
    clear: left;
    margin-top: 1em;
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
#results > li {
    position:relative; /* Create a positioning context */
    margin:0 0 3em 0; /* Give each list item a left margin to make room for the numbers */
    padding: 0; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
#results > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    width: 1.65em;
    float: left;
    margin-right: 0.2em;
    padding: 0.3em 0 0.2em;
    color: #fff;
    background: #222222;
    font-weight:normal;
    font-size: 1.8em;
    line-height: 1.1;
    font-family: ArvoBold, Arial, Helvetica, sans-serif;
    text-align:center;
}

.results li h2 {
    font-family: ArvoBold, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.1;
    margin: 0;
}

.results li h2 a {
    color: #20578f;
    text-decoration: none;
}

.results li h2 a:hover,
.results li h2 a:focus {
    text-decoration: underline;
}

.results li h2 + p {
    margin: 0;
}

.results li ul{
    margin: 0;
    padding: 0;
}

.results li li {
    margin: 0.5em 0 1em;
    padding: 0;
}

.results li li h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0.25em;
}

#statistics {
    background: #fff;
    border-color: rgba(179, 179, 179, .88);
    border-radius: 8px;
    padding: 1em 2em 1em;
    margin-right: 12px;
}

#chart_div {
    width: 100%;
    overflow: hidden;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 480px) {

    form.search {
        position: relative;
        height: 3em;
    }
    form.search input[type=search] {
        position: absolute;
        left: 0;
        right: 50px;
        top: 0;
    }
    form.search input[type=submit] {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
    }

}

@-moz-document url-prefix() {
    /* firefox-only css goes here */
    form.search input[type=search] {
        position: static;
    }
    form.search input[type=submit] {
        position: static;
    }
   
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

    .home .sell p {
        display: block;
    }

#results > li {
    margin:0 0 3em 4em; /* Give each list item a left margin to make room for the numbers */
}

#results > li:before {
    /* Position and style the number */
    position:absolute;
    top:-0.275em;
    left: -2.2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
}

.results li h2 + p {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 0;
}

}

@media only screen and (min-width: 520px) {

    form.search input[type=search] {
        min-width: 20em;
    }
    .author-meta {
        margin-left: 6px;
    }

}

@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports 768px and over go here */

    #container {
        width: 52em;
        margin: 3em auto 1em;
        padding: 1em 3em;
    }

    .content {
        margin: 3em 6em 2em 7.5em;
    }

    form.search input[type=search] {
        width: 25em;
    }

}

@media only screen and (min-width: 950px) {
  /* Style adjustments for viewports 950px and over go here */
 
    body {
        font-size: 16px;
    }

}

@media only screen and (min-width: 1400px) {
  /* Style adjustments for viewports 950px and over go here */
 
    body {
        font-size: 16px;
        background: url(../images/check.png),
            url(../images/background.jpg) fixed top center no-repeat;
        background-size: auto, 100% auto;
    }

}

@media screen and (orientation:portrait) and (min-width: 1400px) {
    body {
        background-size: auto, auto 100%;
    }
}

